@()
@import contollers.JDBC
@main("jdbc test") {
    <script>
        //JS makes ajax call
        $(function(){
        });
        </script>
    <style>
    ol li{
        display:none;
        list-style:none;
    }
    ol li:first-child {
        display:block;
    }
    </style>
    <ol id="jdbcresult">
        <li><a href="@routes.JDBC.table">Create table</a></li>
        <li><a href="@routes.JDBC.table">Create table</a></li>
        <li><a href="@routes.JDBC.table">Create table</a></li>
        <li><a href="@routes.JDBC.table">Create table</a></li>
}